.food_for_pets .third_variant, .food_for_pets .first_variant {
  width: 360px;
  height: 241px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-left: 35px;
}

.food_for_pets .third_variant .first_variant-title, .food_for_pets .second_variant .first_variant-title, .food_for_pets .first_variant .first_variant-title {
  padding-top: 20px;
  width: 310px;
  height: 70px;
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #170C04;
  margin-left: auto;
  margin-right: auto;
}

.food_for_pets .third_variant .first_variant-text, .food_for_pets .second_variant .first_variant-text, .food_for_pets .first_variant .first_variant-text {
  width: 298px;
  height: 55px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #170C04;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
}

.leash_block .see_details a, .food_for_pets .third_variant .see_details a, .food_for_pets .second_variant .see_details a, .food_for_pets .first_variant .see_details a {
  width: 80px;
  height: 24px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #E27B3A;
  text-decoration: none;
}

.food_for_pets {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 159px;
}
.food_for_pets .first_variant img {
  position: absolute;
  margin: -27px 148px;
  mix-blend-mode: darken;
}
.food_for_pets .first_variant .first-food {
  margin: -19px 161px;
}
.food_for_pets .first_variant ul {
  padding-left: 0;
  text-align: center;
}
.food_for_pets .first_variant a:hover {
  text-decoration: underline;
}
.food_for_pets .second_variant {
  margin-left: 30px;
  width: 360px;
  height: 241px;
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 0 10px #FCF2EB;
}
.food_for_pets .second_variant img {
  position: absolute;
  margin: -27px 148px;
  mix-blend-mode: darken;
}
.food_for_pets .second_variant .second-food {
  margin: -28px 153px;
}
.food_for_pets .second_variant ul {
  padding-left: 0;
  text-align: center;
}
.food_for_pets .second_variant a:hover {
  text-decoration: underline;
}
.food_for_pets .third_variant img {
  position: absolute;
  margin: -27px 148px;
  mix-blend-mode: darken;
}
.food_for_pets .third_variant .third-food {
  margin: -19px 161px;
}
.food_for_pets .third_variant ul {
  padding-left: 0;
  text-align: center;
}
.food_for_pets .third_variant a:hover {
  text-decoration: underline;
}

.popular_products {
  padding-top: 115px;
  width: 1200px;
  margin: 0 auto;
}

.popular_products {
  margin-left: auto;
  margin-right: auto;
}

.popular_products-title {
  width: 280px;
  height: 42px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.popular_products-text {
  width: 505px;
  height: 65px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #170C04;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
}

.leash_block .leash_illustration {
  width: 555px;
  height: 420px;
  background: #FCF2EB;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.leash_block {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.leash_block .leash_illustration {
  margin-left: 30px;
}
.leash_block img {
  margin: 0 auto;
  mix-blend-mode: darken;
}
.leash_block .leash_title {
  margin-left: 30px;
  width: 555px;
  height: 25px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
}
.leash_block li {
  text-align: center;
}
.leash_block a:hover {
  text-decoration: underline;
}

.leash_second_block .block {
  width: 360px;
  height: 273px;
  background: #FCF2EB;
  border-radius: 10px;
}

.leash_second_block {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-top: 66px;
}
.leash_second_block .block {
  margin-left: 30px;
  display: flex;
  align-items: center;
}
.leash_second_block img {
  mix-blend-mode: darken;
  margin: 0 auto;
}

/*# sourceMappingURL=body.css.map */
