@import "variables";
@import "mixins";

%food-form {
  width: 360px;
  height: 241px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-left: 35px;
}

%food-title{
  padding-top: 20px;
  width: 310px;
  height: 70px;
  font-family: $fontPoppins;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: $colorDarkGray;
  margin-left: auto;
  margin-right: auto;
}

%food-text{
  width: 298px;
  height: 55px;
  font-family: $fontRoboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $colorDarkGray;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
}

%see-details{
  width: 80px;
  height: 24px;
  font-family: $fontRoboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $colorOrange;
  text-decoration: none;
}

.food_for_pets{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 159px;

  .first_variant{
    @extend %food-form;
    img{
      position: absolute;
      margin: -27px 148px;
      mix-blend-mode: darken;
    }
    .first-food{
      margin: -19px 161px;
    }
    .first_variant-title{
      @extend %food-title;
    }
    .first_variant-text {
      @extend %food-text;
    }
    .see_details a{
      @extend %see-details;
    }
    ul{
      padding-left: 0;
      text-align: center;
    }
    a:hover{
      text-decoration: underline;
    }
  }

  .second_variant{
    margin-left: 30px;
    width: 360px;
    height: 241px;
    background: $colorWhite;
    border-radius: 8px;
    box-shadow: 0 0 10px $colorLightOrange;
    img{
      position: absolute;
      margin: -27px 148px;
      mix-blend-mode: darken;
    }
    .second-food{
      margin: -28px 153px;
    }
    .first_variant-title{
      @extend %food-title;
    }
    .first_variant-text{
      @extend %food-text;
    }
    .see_details a{
      @extend %see-details;
    }
    ul{
      padding-left: 0;
      text-align: center;
    }
    a:hover{
      text-decoration: underline;
    }
  }

  .third_variant{
    @extend %food-form;
    img{
      position: absolute;
      margin: -27px 148px;
      mix-blend-mode: darken;
    }
    .third-food{
      margin: -19px 161px;
    }
    .first_variant-title{
      @extend %food-title;
    }
    .first_variant-text{
      @extend %food-text;
    }
    .see_details a{
      @extend %see-details;
    }
    ul{
      padding-left: 0;
      text-align: center;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}

.popular_products{
  padding-top: 115px;
  width: 1200px;
  margin: 0 auto;
}
.popular_products{
  margin-left: auto;
  margin-right: auto;
}
.popular_products-title{
  width: 280px;
  height: 42px;
  font-family: $fontPoppins;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.popular_products-text{
  width: 505px;
  height: 65px;
  font-family: $fontRoboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $colorDarkGray;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
}

%illustration-block{
  width: 555px;
  height: 420px;
  background: $colorLightOrange;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.leash_block{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  .leash_illustration{
    @extend %illustration-block;
    margin-left: 30px;
  }
  img{
    margin: 0 auto;
    mix-blend-mode: darken;
  }
  .leash_title{
    margin-left: 30px;
    width: 555px;
    height: 25px;
    font-family: $fontPoppins;;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
  }
  .see_details a{
    @extend %see-details;
  }
  li{
   text-align: center;
  }
  a:hover{
    text-decoration: underline;
  }
}

%leash_second{
  width: 360px;
  height: 273px;
  background: $colorLightOrange;
  border-radius: 10px;
}

%view-details{
  @include font_style-Roboto;
  font-size: 16px;
  color: $colorOrange;
  text-decoration: none;
}

.leash_second_block{
  width: 1200px;
  display: flex;
  margin: 0 auto;
  padding-top: 66px;
  .block{
    @extend %leash_second;
    margin-left: 30px;
    display: flex;
    align-items: center;
  }
  img{
    mix-blend-mode: darken;
    margin: 0 auto;
  }
  .second_leash-title{
    text-align: center;
    margin-left: 30px;
    font-family: $fontPoppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }
  .view_details a{
    @extend %view-details;

  }
  a:hover{
    text-decoration: underline;
  }
  li{
    text-align: center;
  }
}

.view_all_products{
  margin: 0 auto;
  text-align: center;
  padding-top: 46px;
  .button_view_products{
    width: 185px;
    height: 48px;
    border: 1px solid rgba(226,123,58,0.15);
    border-radius: 4px;
   @include font_style-Roboto;
    font-size: 16px;
    color: $colorOrange;
    margin-left: 15px;
    background: white;
  }
}

.dog_care{
  width: 1400px;
  margin: 0 auto;
  display: flex;
  padding-top: 130px;
  clip-path: url(#border);
  .mask {
    position: absolute;
    width: 730px;
    height: 539px;
    clip-path: url(#my-clip-path);
    background: white;
    z-index: 5;
  }


  .dog_care-title{
    padding-top: 125px;
    width: 127px;
    height: 10px;
    font-family: $fontRoboto;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #E27B3A;
    opacity: 0.8;
  }
  .dog_care-desc{
    width: 487px;
    height: 86px;
    font-family: $fontPoppins;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
  }
  .dog_care-text{
    width: 487px;
    height: 70px;
    @include font_style-Roboto;
    font-size: 16px;
    line-height: 24px;
    color: #170C04;
    opacity: 0.6;
  }
  .dog_care-buttons{
    padding-top: 40px;
    display: flex;
  }
  .button_appointment{
    width: 189px;
    height: 48px;
    background: $colorOrange;
    border-radius: 24px;
    border: none;
    @include font_style-Roboto;
    font-size: 16px;
    line-height: 24px;
    color: white;
  }
  .button_details{
    margin-left: 30px;
    background: white;
    width: 139px;
    height: 48px;
    border: 1px solid rgba(226,123,58,0.15);
    border-radius: 24px;
    @include font_style-Roboto;
    font-size: 16px;
    line-height: 24px;
    color: $colorOrange;
  }
}

.monthly_subscription{
  width: 1200px;
  margin: 0 auto;
  .subscription-title{
    padding-top: 100px;
    width: 330px;
    height: 93px;
    font-family: $fontPoppins;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.dogs{
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
  .first_dog{
    text-align: center;
  }
  .second_dog{
    text-align: center;
  }
  .third_dog{
    text-align: center;
  }
  h1{
    padding-top: 40px;
    width: 360px;
    height: 49px;
    font-family: $fontPoppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
  h2{
    width: 359px;
    height: 65px;
    @include font_style-Roboto;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #170C04;
    opacity: 0.6;
  }
  ul{
    padding-left: 0;
  }
  a{
    @include font_style-Roboto;
    font-size: 16px;
    text-decoration: none;
    color: $colorOrange;
  }
  a:hover{
    text-decoration: underline;
  }
}

.block_button_subs{
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 45px;
  .button_subscribe{
    width: 131px;
    height: 48px;
    background: #E27B3A;
    border-radius: 24px;
    border: none;
    @include font_style-Roboto;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }
}

.dog_accessories{
  width: 1200px;
  display: flex;
  margin: 0 auto;
  .popular_products{
    width: 554px;
    height: 46px;
    font-family: $fontPoppins;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 45px;
    text-align: center;
  }
}