$fontPoppins: Poppins;
$fontRoboto: Roboto;

.header_background{
  width: 100%;
  height: 693px;
  background: linear-gradient(113deg, #fff 63%, #FCF2EB 37%);
}

.header_elements{
  display: flex;
  width: 1300px;
  margin: 0 auto;
}

.header_icon{
  display: flex;
  margin-top: 10px;
  h1{
    font-family: $fontRoboto;
    width: 45px;
    height: 26px;
    font-weight: 500;
    font-size: 22px;
    padding-left: 5px;
  }
}

.header_links{
  margin-top: 10px;
  align-items: center;
  margin-left: 230px;
  ul {
    padding-top: 10px;
  display: flex;
  list-style-type: none;
  }
  li a {
    margin-left: 50px;
    text-decoration: none;
    width: 66px;
    height: 19px;
    font-family: $fontRoboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: black;
  }

  a:hover{
    text-decoration: underline;
  }
}

.header_buttons{
  display: flex;
  margin-left: 205px;
  img{
    margin-left: 40px;
  }
}

.header_block{
  width: 1300px;
  margin: 0 auto;
  display : flex;
  h1{
    width: 613px;
    height: 171px;
    font-family: $fontPoppins;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 120px;
    padding-top: 60px;
    position: absolute;
    z-index: 2;
  }
  img{
    z-index: 1;
    position: relative;
    margin-left: 370px;
  }
}
